@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Name:<br />
    George Makrakis<br />
    <abbr title="Phone">P:</abbr>
    22730 12345
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:icsd13107@aegean.gr">icsd13107@aegean.gr</a><br />
</address>