    @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aegean Thesis</h1>
    <p class="lead">The page you can find available Thesis for Information and Communication Systems Department. </p>
    <p><a href="/ThesisForms" class="btn btn-primary btn-lg">See all thesis! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>General Google Charts Here</h2>
        <p>
           
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>